<!DOCTYPE html>
<html>
<head>
    <title>Paginated Comics</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Paginated Comics List</h1>
        <ul id="comic-list" class="list-group">
            <!-- 만화 목록 -->
        </ul>
        
        <div id="pagination-controls" class="mt-3">
            <button id="prev-button" class="btn btn-primary" disabled>Previous</button>
            <button id="next-button" class="btn btn-primary">Next</button>
        </div>
    </div>

    <script>
        // Current API URL for fetching comics
        let apiUrl = 'http://127.0.0.1:8000/api/manga/?page=1';
        let paginationData = null;
        
        // Function to fetch and display comics from API
        async function fetchAndDisplayComics() {
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();

                // Update pagination data
                paginationData = data;
                
                // Get the HTML element where the comics list will be displayed
                const comicListElement = document.getElementById('comic-list');
                
                // Clear the current list
                comicListElement.innerHTML = '';
                
                // Iterate through the comics data and create HTML elements for each comic
                data.results.forEach(comic => {
                    // Create list item
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    
                    // Create comic title element
                    const titleElement = document.createElement('h5');
                    titleElement.textContent = comic.title;
                    
                    // Create comic author element
                    const authorElement = document.createElement('p');
                    authorElement.textContent = `작가: ${comic.author}`;
                    
                    
                    

                    
                    

                    // Create comic price element
                    const priceElement = document.createElement('p');
                    priceElement.textContent = `가격: ${comic.price}`;

                    // Create comic publish date element
                    const pubdateElement = document.createElement('p');
                    pubdateElement.textContent = `발매: ${comic.published_at}`;
                    
                    // Append elements to list item
                    listItem.appendChild(titleElement);
                    listItem.appendChild(authorElement);
                    // Create comic author element
                    if (comic.illustrator) {
                        const illustratorElement = document.createElement('p');
                        illustratorElement.textContent = `그림: ${comic.illustrator}`;
                        listItem.appendChild(illustratorElement);
                    }
                    // Create comic author element
                    if (comic.original_author) {
                        const orgauthorElement = document.createElement('p');
                        orgauthorElement.textContent = `원작자: ${comic.original_author}`;
                        listItem.appendChild(orgauthorElement);
                    }
                    
                    listItem.appendChild(priceElement);
                    listItem.appendChild(pubdateElement);
                    
                    // Append list item to comic list
                    comicListElement.appendChild(listItem);
                });
                
                // Update pagination controls
                const prevButton = document.getElementById('prev-button');
                const nextButton = document.getElementById('next-button');
                // prevButton.href = `${data.previous}`;
                // nextButton.href = `${data.next}`;
                prevButton.setAttribute("href", data.previous);
                nextButton.setAttribute("href", data.next);
                prevButton.disabled = !data.previous;
                nextButton.disabled = !data.next;
                
            } catch (error) {
                console.error('Error fetching comics:', error);
            }
        }

        // Event handlers for pagination controls
        // document.getElementById('prev-button').addEventListener('click', () => {
        //     apiUrl = paginationData.previous;
        //     fetchAndDisplayComics();
        // });

        // document.getElementById('next-button').addEventListener('click', () => {
        //     apiUrl = paginationData.next;
        //     fetchAndDisplayComics();
        // });

        // Call the fetchAndDisplayComics function when the page loads
        window.onload = fetchAndDisplayComics;
    </script>
</body>
</html>
