<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div id="login-status" class="d-flex justify-content-end">
            <!-- 로그인 상태에 따라 내용이 여기에 표시됩니다 -->
        </div>

        <h1>Cart</h1>
        <ul id="comic-list" class="list-group">
            <!-- 만화 목록이 여기에 표시됩니다. -->
        </ul>
        
        <div id="pagination-controls" class="mt-3">
            <button id="prev-button" class="btn btn-primary" disabled>이전</button>
            <div id="page-buttons" class="d-inline-block mx-3">
                <!-- 페이지 번호 버튼이 여기에 생성됩니다. -->
            </div>
            <button id="next-button" class="btn btn-primary">다음</button>
        </div>

        <button id="save-cart-button" class="btn btn-success mt-4">선택 삭제</button>
    </div>

    <script>
        let apiUrl = 'http://127.0.0.1:8000/cart/list/';
        let paginationData = null;
        const cart = new Set(); // 장바구니를 위한 Set 객체
        let token = null;

        async function checkLoginStatus() {
            const token = localStorage.getItem('access_token'); // 로컬 스토리지에서 토큰 가져오기
            const loginStatusElement = document.getElementById('login-status');
            loginStatusElement.innerHTML = ''; // 이전 상태를 초기화

            if (token) {
                try {
                    const response = await fetch('http://127.0.0.1:8000/user/signin/', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`, // 헤더에 토큰 추가
                            'Content-Type': 'application/json',
                        }
                    });

                    if (response.ok) {
                        const data = await response.json();
                        // 로그인된 상태, 사용자의 이메일 표시
                        const emailElement = document.createElement('span');
                        emailElement.textContent = `Logged in as: ${data.email}`;
                        loginStatusElement.appendChild(emailElement);

                        // 로그아웃 버튼 추가
                        const logoutButton = document.createElement('button');
                        logoutButton.textContent = 'Logout';
                        logoutButton.className = 'btn btn-danger ml-3';
                        logoutButton.addEventListener('click', logout);
                        loginStatusElement.appendChild(logoutButton);
                    } else {
                        // 토큰이 유효하지 않은 경우 로그인 버튼 표시
                        showLoginButton();
                    }
                } catch (error) {
                    console.error('로그인 상태 확인 중 오류가 발생했습니다:', error);
                    showLoginButton(); // 오류가 발생한 경우 로그인 버튼 표시
                }
            } else {
                // 토큰이 없는 경우 로그인 버튼 표시
                showLoginButton();
            }
        }

        function showLoginButton() {
            const loginStatusElement = document.getElementById('login-status');
            const loginButton = document.createElement('button');
            loginButton.textContent = 'Login';
            loginButton.className = 'btn btn-primary';
            loginButton.addEventListener('click', () => {
                window.location.href = '/user/login'; // 로그인 페이지로 이동
            });
            loginStatusElement.appendChild(loginButton);
        }


        async function logout() {
            try {
                const response = await fetch('http://127.0.0.1:8000/api/logout/', {
                    method: 'POST',
                    credentials: 'include', // 쿠키를 포함하여 요청
                });

                if (response.ok) {
                    alert('로그아웃되었습니다.');
                    checkLoginStatus(); // 로그아웃 후 상태 갱신
                } else {
                    alert('로그아웃에 실패했습니다.');
                }
            } catch (error) {
                console.error('로그아웃 중 오류가 발생했습니다:', error);
            }
        }

        async function fetchAndDisplayComics() {
            const token = localStorage.getItem('access_token'); // 로컬 스토리지에서 토큰 가져오기
            try {
                const response = await fetch(apiUrl, {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`, // 헤더에 토큰 추가
                            'Content-Type': 'application/json',
                        }
                    });
                if (response.status === 401) {
                    alert('로그인이 필요합니다.');
                    return;
                }

                const data = await response.json();
                paginationData = data;
                const comicListElement = document.getElementById('comic-list');
                comicListElement.innerHTML = '';

                data.results.forEach(comic => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                    
                    const comicInfo = document.createElement('div');
                    
                    const titleElement = document.createElement('h5');
                    titleElement.textContent = comic.title;
                    
                    // const authorElement = document.createElement('p');
                    // authorElement.textContent = `작가: ${comic.author}`;
                    
                    const priceElement = document.createElement('p');
                    priceElement.textContent = `가격: ${comic.price}`;

                    const pubdateElement = document.createElement('p');
                    pubdateElement.textContent = `발매: ${comic.published_at}`;
                    
                    comicInfo.appendChild(titleElement);
                    // comicInfo.appendChild(authorElement);
                    if (comic.illustrator) {
                        const illustratorElement = document.createElement('p');
                        illustratorElement.textContent = `그림: ${comic.illustrator}`;
                        comicInfo.appendChild(illustratorElement);
                    }
                    if (comic.original_author) {
                        const orgauthorElement = document.createElement('p');
                        orgauthorElement.textContent = `원작자: ${comic.original_author}`;
                        comicInfo.appendChild(orgauthorElement);
                    }
                    comicInfo.appendChild(priceElement);
                    comicInfo.appendChild(pubdateElement);

                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.addEventListener('change', (event) => {
                        if (event.target.checked) {
                            cart.add(comic);
                        } else {
                            cart.delete(comic);
                        }
                        console.log(Array.from(cart)); // 장바구니 내용을 콘솔에 출력 (디버깅 용도)
                    });
                    
                    listItem.appendChild(comicInfo);
                    listItem.appendChild(checkbox);
                    comicListElement.appendChild(listItem);
                });

                updatePaginationControls(data);

            } catch (error) {
                console.error('Error fetching comics:', error);
            }
        }

        function updatePaginationControls(data) {
            const prevButton = document.getElementById('prev-button');
            const nextButton = document.getElementById('next-button');
            const pageButtonsContainer = document.getElementById('page-buttons');

            prevButton.disabled = !data.previous;
            nextButton.disabled = !data.next;
            pageButtonsContainer.innerHTML = '';

            const totalPages = Math.ceil(data.count / data.results.length);
            const currentPage = parseInt(new URL(apiUrl).searchParams.get('page')) || 1;

            for (let i = 1; i <= totalPages; i++) {
                const pageButton = document.createElement('button');
                pageButton.textContent = i;
                pageButton.className = 'btn btn-secondary mx-1';
                if (i === currentPage) {
                    pageButton.classList.add('active');
                }
                pageButton.addEventListener('click', () => {
                    apiUrl = `http://127.0.0.1:8000/api/manga/?page=${i}`;
                    fetchAndDisplayComics();
                });
                pageButtonsContainer.appendChild(pageButton);
            }
        }

        document.getElementById('prev-button').addEventListener('click', (event) => {
            event.preventDefault();
            if (paginationData.previous) {
                apiUrl = paginationData.previous;
                fetchAndDisplayComics();
            }
        });

        document.getElementById('next-button').addEventListener('click', (event) => {
            event.preventDefault();
            if (paginationData.next) {
                apiUrl = paginationData.next;
                fetchAndDisplayComics();
            }
        });

        async function deleteCart() {
            // 로컬 스토리지에서 JWT 토큰 가져오기
            const token = localStorage.getItem('access_token');

            // 토큰이 없으면 오류 처리
            if (!token) {
                throw new Error('No token found. Please log in.');
            }

            try {
                const cartArray = Array.from(cart).map(comic => comic.comic_id);
                const response = await fetch('http://127.0.0.1:8000/cart/', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    body: JSON.stringify({ comics: cartArray })
                });

                if (response.status === 401) {
                    alert('로그인이 필요합니다.');
                    return;
                }

                if (response.ok) {
                    alert('장바구니에서 삭제됐습니다.');
                    location.reload();
                } else {
                    alert('장바구니에서 삭제되지 않았습니다.');
                }
            } catch (error) {
                console.error('Error saving cart:', error);
            }
        }

        document.getElementById('save-cart-button').addEventListener('click', deleteCart);

        window.onload = async function() {
            await checkLoginStatus(); // 페이지 로드 시 로그인 상태 확인
            fetchAndDisplayComics(); // 만화 목록 표시
        };
    </script>
</body>
</html>
